* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    font-family: "DM Sans", sans-serif;
    background-color: #f5f5f5;
}

.container {
    height: 100vh;
    margin: 4rem  5rem;
    /* padding: 20px; */

}
/* .grid-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
} */

.grid-box {
    /* margin-bottom: 4rem; */
    padding: 20px;
    /* background-color: #b2b3b4; */
    display: grid;
    grid-template-areas:
        "a b b c"
        "a b b c"
        "d e f c"
        "d g h h"
    ;
    gap: 2rem;
}

.grid-card {
    border-radius: 7px;
    width: 100%;
    height: 100%;
}
.grid-card img {
    width: 50%;
    /* height: auto; */
    /* object-fit: cover; */
}

.box1{
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* text-align: center; */
}

.card1 {
    grid-area: a;
    background-color: #fff2e6;
    /* grid-row: span 2 ; */
}


.quicker {
    color: #b380ff;
    font-style: italic;
    /* margin-left: 15px; */
    font-size: 25px;
}
.card1 img {
    padding-top: 15px;
    width: 50%;
    margin-left: 20%;
}

.card2 {
    grid-area: b;
    text-align: center;
    color: #fff;
    /* grid-column: span 2;
    grid-row: span 2; */
    background-color: #8533ff;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
}
.card2 img{
    padding-top: 1rem;
    margin-left: 40%;
    width: 100px;
}

.card3 {
    background-color: #e6ccff;
    /* grid-row: span 3; */
    grid-area: c;
    
   
}
.card3 img {
    width: 100%;
    /* margin: 10px 0 0 12px; */
    
}
.card4 {
    display: flex;
    justify-content: space-between;
    grid-area: d;
    /* grid-row: span 2; */
    background-color: goldenrod
}
.card4 img {
    width: 100%;
    /* margin: 20px 0 0 12px; */
}

.card5 {
    background-color: darkgrey;
    grid-area: e;
}
.card5 img {
    width: 100%;
    /* margin: 10px 0 0 12px; */
}

.card6 {
    background-color: goldenrod;
    grid-area: f;
}
.cord6 img {
    width: 100%;
    /* margin: 12px 0 0 12px; */

}

.card7{
    grid-area: g;
    display: flex;
    justify-content: space-between;
    background-color: darkgrey;
}
.card7 img {
    width: 100%;
    /* margin: 10px 0 0 12px; */
}

.card8 {
    padding: 10px;
    display: flex;
    gap: 1rem;
    background-color: #8533ff;
    grid-area: h;
    /* grid-column: span 2; */

}

.card8 img {
    width: 50%;
    /* margin: 10px 0 0 12px; */

}

.gorw-follower{
    padding-top: 2.5rem;
    color: #fff;
}

@media (max-width: 576px) {
    .grid-box {
        /* margin-top: 2rem;
        padding: 20px; */
        background-color: #b2b3b4;
        display: grid;
        gap: 2rem;
        grid-template-areas:
            " b b b"
            "a a a"
            "c c c"
            "d d d"
            "e e e"
            "f f f"
            "g g g"
            "h h h"
        ;

    }
}